#toggle-nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

#toggle-nav div {
    height: 3px;
    background-color: var(--white);
    border-radius: 2px;
}

.hamburger-menu {
    display: none; 
}

@media (max-width: 1210px) {
    #toggle-nav {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}
