.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-red);
    padding: 0.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#main-logo {
    height: 150px;
}

.site-name {
    color: var(--white);
    font-size: 3rem;
    white-space: nowrap;
}


@media (max-width: 1210px) {
    #main-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}
