.featured-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.card-placeholder {
    background-color: var(--secondary);
    border-radius: 1rem;
    flex: 1 1 calc(33% - 1rem);
    height: 150px;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-placeholder:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px var(--accent);
}
